@import "vert-tables.css"

.btn
  border-radius: 2px

header 
  .nav
    margin-top: 20px
  .line
    height: 5px
    background: #c02c25
    position: absolute
    left: 0
    width: 100%

  .aside-toggle
    padding: 9px 10px

    &:hover
      background: #eee
      cursor: pointer

    .icon-bar
      margin-top: 4px
      display: block
      width: 22px
      height: 2px
      border-radius: 1px
      background: black

.loading-spinner
  display: inline-block
  width: 16px
  height: 16px
  background: url("http://my.selectel.org/static/_panel/img/gh-spinner.gif")
  background-size: 16px
  cursor: pointer

.nodes .node, .roles .role
    cursor: pointer

aside.control
  padding-top: 25px


.node, .role
  ol, ul
    margin-bottom: 0px

  .recipes, .roles
    list-style: none

    li
      cursor: pointer

  .run-list li
    margin-left: 20px
    cursor: pointer
    transition: padding-top .2s ease

    .remove
      display: none
      float: right

    &:hover .remove
      display: inline

    &.on-drag-hover
        padding-top: 1em
    &.on-drag
      opacity: .1

      .remove
        display: none

    span
      font-size: 100%
      padding: .1em .5em .2em