aside.col-xs-12.col-md-3.control.col-md-push-9.col-xs-push-0
  .form-group
    label Environment
    select.form-control(ng-model="environments.current", ng-options="env.name for env in environments")