.row.node
  .loading-spinner(ng-show="node.$pending")
  .col-md-9.row(style="margin-top: 25px")
    .col-md-4
      .panel.panel-primary
        .panel-heading Roles
          .loading-spinner.pull-right(ng-show="roles.$pending")
        ul.panel-body.roles(style="overflow: auto; max-height: 200px;")
          li(ng-repeat="(roleName, role) in roles", ng-click="addToRunList('role', roleName)") {{ roleName }}
    .col-md-4
      .panel.panel-info
        .panel-heading Recipes
          .loading-spinner.pull-right(ng-show="!environments.current.recipes.length")
        ul.panel-body.recipes(style="overflow: auto; max-height: 300px;")
          li(ng-repeat="recipe in environments.current.recipes", ng-click="addToRunList('recipe', recipe)") {{ recipe }}
    .col-md-4
      .panel.panel-default.run-list
        .panel-heading Run List
          button.btn.btn-success.btn-xs.pull-right(ng-click="updateRunList()", ng-show="node.$runList.$dirty") save
        ol.panel-body
          li(ng-repeat="item in node.$runList", ui-on-Drop="reorderRunList($index, $data)", ui-draggable="true", drag="$index")
            span(ng-class="{'label label-primary': item.essence === 'role'}") {{ item.name }}
            i.glyphicon.glyphicon-remove.remove(ng-click="node.$runList.splice($index, 1); node.$runList.$dirty = true")
                
      
//- div(ng-repeat="(bookName, book) in cookbooks") {{ bookName }}
//-   .margin(ng-repeat="version in book.versions", ng-click="getRecipes(bookName, version); showRecipes = !showRecipes") {{ version.version }}
//-     .loading-spinner(ng-show="version.$pending")
//-     span(ng-show="version.$error", style="color: red") error
//-     .margin(ng-if="showRecipes")
//-       div(ng-repeat="recipe in version.recipes") {{ recipe.name }}