.node
  .loading-spinner(ng-show="node.$pending")
  .alert.alert-danger(ng-if="node.$error") {{ node.$error.error }}
  .col-md-9.row(ng-if="node.$success")
    table.table.table-striped
      thead
        tr
          th Name 
          th IP
          th Uptime
          th Platform
          th FQDN
            .pull-right(ng-switch="node.$pending")
              .loading-spinner(ng-switch-when="true")
              i.glyphicon.glyphicon-refresh(ng-switch-when="false", ng-click="getNode(true)")
      tr
        td(data-title="Name") 
          | {{node.name}} 
          .loading-spinner(ng-show="node.$pending")
        td(data-title="IP") &nbsp;{{node.automatic.ipaddress}}
        td(data-title="Uptime") &nbsp;{{node.automatic.uptime_seconds | durationTime}}
        td(data-title="Platform") &nbsp;{{node.automatic.platform}}
        td(data-title="FQDN") &nbsp;{{node.automatic.fqdn}}
    hr

    ul.nav.nav-tabs.node(ng-model="nodeTab")
      li(depend-location="^/nodes/.*/(roles)")
        a(href="/nodes/{{node.name}}/roles") Roles
      li(depend-location="^/nodes/.*/(info)")
        a(href="/nodes/{{node.name}}/info") Information
    .run-list.row(ng-controller="RunListController as ctrl", style="padding-top: 25px")
      .col-md-4
        .panel.panel-primary
          .panel-heading Roles
            .loading-spinner.pull-right(ng-show="roles.$pending")
          ul.panel-body.roles(style="overflow: auto; max-height: 200px;")
            li(ng-repeat="(roleName, role) in roles", ng-click="ctrl.add('role', roleName)") {{ roleName }}
      .col-md-4
        .panel.panel-info
          .panel-heading Recipes
            .loading-spinner.pull-right(ng-show="!environments.current.recipes.length")
          ul.panel-body.recipes(style="overflow: auto; max-height: 300px;")
            li(ng-repeat="recipe in environments.current.recipes", ng-click="ctrl.add('recipe', recipe)") {{ recipe }}
      .col-md-4
        .panel.panel-default
          .panel-heading Run List
            button.btn.btn-success.btn-xs.pull-right(ng-click="updateRunList(runList); runList.$dirty = false", ng-show="runList.$dirty") save
          ol.panel-body.run-list
            li(ng-repeat="item in runList", ui-on-drop="ctrl.reorder($index, $data)", ui-draggable="true", drag="$index")
              span(ng-class="{'label label-primary': item.essence === 'role'}") {{ item.name }}
              i.glyphicon.glyphicon-remove.remove(ng-click="runList.splice($index, 1); runList.$dirty = true")