.role
  .loading-spinner(ng-show="role.$pending")
  .alert.alert-danger(ng-show="role.$error") {{ role.$error.error }}
  .col-md-9.row(ng-if="role.$success")
    p Name: {{ role.name }}
    p Description: {{ role.description }}
    hr
    .run-list.row(ng-controller="RunListController as ctrl")
      .col-md-4
        .panel.panel-primary
          .panel-heading Roles
            .loading-spinner.pull-right(ng-show="roles.$pending")
          ul.panel-body.roles(style="overflow: auto; max-height: 200px;")
            li(ng-repeat="(roleName, _role) in roles | filter:filterRole", ng-click="ctrl.add('role', roleName)") {{ roleName }}
      .col-md-4
        .panel.panel-info
          .panel-heading Recipes
            .loading-spinner.pull-right(ng-show="!environments.current.recipes.length")
          ul.panel-body.recipes(style="overflow: auto; max-height: 300px;")
            li(ng-repeat="recipe in environments.current.recipes", ng-click="ctrl.add('recipe', recipe)") {{ recipe }}
      .col-md-4
        .panel.panel-default
          .panel-heading Run List
            button.btn.btn-success.btn-xs.pull-right(ng-click="updateRunList(runList); runList.$dirty = false", ng-show="runList.$dirty") save
          ol.panel-body.run-list
            li(ng-repeat="item in runList", ui-on-drop="ctrl.reorder($index, $data)", ui-draggable="true", drag="$index")
              span(ng-class="{'label label-primary': item.essence === 'role'}") {{ item.name }}
              i.glyphicon.glyphicon-remove.remove(ng-click="runList.splice($index, 1); runList.$dirty = true")