include _aside-main
.col-md-9.col-md-pull-3.col-xs-pull-0.row
  table.table.table-striped.roles(ng-show="!roles.length")
    thead
      tr
        th Name 
        th Desc
          .pull-right(ng-switch="roles.$pending")
            .loading-spinner(ng-switch-when="true")
            i.glyphicon.glyphicon-refresh(ng-switch-when="false", ng-click="getRoles(true)")
    tr.role(ng-repeat="(name, url) in roles", ng-controller="RoleController as ctrl", ng-click="showRole(name)")
      td(data-title="Name") 
        | {{name}} 
        .loading-spinner(ng-show="role.$pending")
      td(data-title="Desc") &nbsp;{{role.description}}