doctype html
html(ng-app="chef")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title CHEF
    meta(name="description",content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="/style/bootstrap/bootstrap.css", rel="stylesheet", type="text/css")
    link(href="/style/main.css", rel="stylesheet", type="text/css")
    script(src="/js/vendor.js", defer)
    script(src="/js/chef.js", defer)
    script(src="/js/templates.js", defer)
  body(ng-controller="BodyController")
    header.container
      .line
      ul.nav.nav-tabs(ng-controller="TabListController", ng-model="tab")
        li(btn-radio="'nodes'")
          a(href="/nodes/") Servers
        li(btn-radio="'roles'")
          a(href="/roles/") Roles
        //- li(btn-radio="'cookbooks'")
        //-   a(href="/cookbooks/") Cookbooks
        li(btn-radio="'databags'")
          a(href="/databags/") Databags
        img.pull-right.hidden-xs(src="http://selectel.ru/media/img/logo.svg")
        .aside-toggle.pull-right.visible-xs
          .icon-bar
          .icon-bar
          .icon-bar
    article.container(ng-view)